services:
  db:
    image: postgres:15-alpine
    container_name: noktanyus-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: noktanyus
      POSTGRES_PASSWORD: password
      POSTGRES_DB: noktanyus_porfoy
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
        - NEXTAUTH_URL=${NEXTAUTH_URL}
        - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
        - ADMIN_EMAIL=${ADMIN_EMAIL}
        - ADMIN_PASSWORD=${ADMIN_PASSWORD}
        - EMAIL_SERVER=${EMAIL_SERVER}
        - EMAIL_PORT=${EMAIL_PORT}
        - EMAIL_USER=${EMAIL_USER}
        - EMAIL_PASSWORD=${EMAIL_PASSWORD}
        - NEXT_PUBLIC_BASE_URL=${NEXT_PUBLIC_BASE_URL}
        - NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=${NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY}
    container_name: noktanyus-portfolio
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - public_volume:/app/public

  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: noktanyus-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
    network_mode: host
    depends_on:
      - web

volumes:
  public_volume:
  postgres_data:
